#carousel-container {
    overflow: hidden;
    width: 100%;
    transition: all 1s;
    padding-top: 50px;
}
  
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.carousel-item {
flex: 0 0 100%;
}

.carousel-item img {
width: 100%;
}

.carousel-item > img {
    height: 600px;
}