#carousel-container {
    overflow: hidden;
    width: 100%;
    transition: all 1s;
    position: relative;
    z-index: -1;
}
  
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    opacity: .90;
}
  
.carousel-item {
    flex: 0 0 100%;
}

.carousel-item img {
    width: 100%;
}

.carousel-item > img {
    height: 700px;
}