#recent-title {
    text-align: center;
    margin: 50px 0;
    font-weight: bold;
    font-size: 28px;
}

#recent-activities {
    padding: 0 100px;
}

#activity-boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#activity {
    display: flex;
    flex-direction: column;
    border: #d6d0ce 1px solid;
    padding: 75px;
    border-radius: 4px;
    text-align: center;
    margin: 20px 0;
}

