#hours-container {
    background: yellow;
    padding: 20px;
    width: 300px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

#day-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

#day {
    flex-basis: 20%;
}

#hrs{
    flex-basis: 80%;
}
