#signup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
  
#form-container, #image-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    padding: 100px;
}

#subheader {
    font-weight: bold;
    font-size: 12px;
}

#legal {
    font-size: 12px;
    margin: 10px;
    line-height: 125%;

}

#form-header > h1 {
    color: #d32323;
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
}

#legal > a {
    color: #0073bb 
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#form-btn {
    color: #fff;
    background: #d32323;
    padding: 10px;
    border: 1px red solid;
    width: 100%;
    cursor: pointer;
}

#signup-form > a, #login-form > a {
    color: #fff;
    background: #d32323;
    padding: 10px;
    border: 1px red solid;
    /* width: 100%; */
    font-size: 13.33px;
    width: 300px;
    border-radius: 0;
}

#errors {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px; 
    line-height: 1.40;
    font-size: 12px;
}

label > input[type="text"] {
    padding: 5px 9px;
    width: 300px;
}

label > input[type="password"] {
    padding: 5px 9px;
    width: 300px;
}