#form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px red solid;
    margin: 10px;
    text-align: center;
    padding: 200px;
}

#subheader {
    font-weight: bold;
    font-size: 12px;
}

#legal {
    font-size: 12px;
    margin: 10px;
    line-height: 125%;

}

a {
    color: #0073bb 
}

h1 {
    color: #d32323;
    margin: 10px;
    font-size: 22px;
    font-weight: bold;

}


form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    color: #fff;
    background: #d32323;
    padding: 10px;
    border: 1px red solid;
    width: 100%
}

button:hover {
    cursor: pointer;
}

#errors {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px; 
    line-height: 1.40;
    font-size: 12px;
}