header #nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
}

#left-nav, #right-nav > #user {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

#logo {
    height: 60px;
}

#title-text {
    color: #d32323;
    text-decoration: none;
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;    
}

#nav-btn {
    border: red 1px solid;
    border-radius: 5%;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    color: #fff;
    background: #d32323;
    transition: all 0.3s ease;
}

#nav-btn {
    cursor: pointer;
}

#nav-btn:hover {
    background-color: #d43737;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

#nav {
    position: absolute;
    z-index: 2;
    width: 100%;
}

#nav-items {
    display: flex;
    justify-content: space-between;

}

#profile-icon:hover {
    cursor: pointer;
}

/* 
#nav {
    display: flex;
    position: absolute;
    height: 100px;
    margin: 20px;
    z-index: 2;
    width: 100%;
}

#user *{
    flex-grow: 1;

}

#right-nav {
    display: flex;
    padding: 10px;
    margin: 10px;
    
}

#logged-in-nav {
    display: flex;
}

#user {
    display: flex;
    align-items: center;
    vertical-align: center;
}

 */
